*.tmp
*.user
*.rej
*.tlb
*.pdn
*.bak
*.orig
*.pdb
*.obj
*.html
*.svg
*.css
*.js
ClassSolution/*.sln
ClassSolution/MsTest/*.sln
ClassSolution/Demo/*.sln
ClassSolution/Classlib/*.sln
**/bin/
*/.vs/
**/.vs/
*/obj/
**/obj/
*.cache
*.vcxproj.user
*.csproj.user
**/launchSettings.json
